@import "tailwindcss";

#root {
  width: 100%;

  text-align: center;
  height: 150cm;
}

.rea {
  width: 50px;
  height: 50px;
}
.dew {
  margin: 0 auto;
  max-width: 1080px;
  padding: 1 rem;
}
.dewo {
  font-size: 16px;
}
.nav {
  width: 100%;
  background: linear-gradient(
    292deg,
    rgba(255, 255, 255, 1) 12%,
    rgba(9, 9, 121, 1) 42%,
    rgba(8, 31, 136, 1) 57%,
    rgba(0, 212, 255, 1) 74%,
    rgba(0, 212, 255, 1) 83%
  );
}
.dewa {
  font-size: 48px;
  background: -webkit-linear-gradient(180deg, #27c1c3, #dd2dd5);
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
